* {
    font-family: 'Poppins', 'Dongle', 'Gabarito', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

body {
    background-color: #f1fbff;
}

.section-padding {
    padding: 80px 0;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption h5 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 25px;
    text-transform: uppercase;
}

.carousel-caption p {
    font-size: 1.2rem;
    margin-top: 15px;
    width: 60%;
    line-height: 1.9;
    margin: 0 auto;
}

.navbar-nav a {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-brand {
    color: #000;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.3s;
}

.navbar-brand:focus,
.navbar-brand:hover {
    color: #000000;
}

.navbar-brand:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.navbar-brand:active {
    transform: scale(0.9);
    transition: all 0.3s;
}

.w-100 {
    height: 100vh;
}

.section-header h2{
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.services .card-body {
    font-size: 2.7rem;
}
div.card img.card-img-top {
    height: 400px;
    object-fit: cover;
}

.services .card-body .lead {
    text-align: start;
    margin-top: 1rem;
}
.team .card-body {
    font-size: 1.2rem;
}
nav.navbar button a {
    text-decoration: none;
    color: white;
}



@media (max-width: 767px) {
    .carousel-caption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
        background-color: rgba(0, 0, 0, 0.4) !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: 0;
        z-index: 2;
    }

    .carousel-inner::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .carousel-caption h5 {
        font-size: 1.5rem;
    }

    .carousel-caption p {
        font-size: 1rem;
        width: 80%;
    }

    .carousel-caption {
        position: relative;
    }
    .w-100 {
        z-index: 1;
    }
}